<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.community.dao.PostMapper">

    <sql id="selectFields">
        id, user_id, title, content, type, status, create_time, comment_count, score
    </sql>


    <sql id="insertFields">
        user_id, title, content, type, status, create_time, comment_count, score
    </sql>

    <insert id="insertPost" keyProperty="id">
        insert into discuss_post (<include refid="insertFields"></include>) values (#{userId}, #{title}, #{content}, #{type}, #{status}, #{createTime}, #{commentCount}, #{score})
    </insert>

    <update id="updatePostCommentCount">
        update discuss_post set comment_count=#{count} where id=#{id}
    </update>

    <update id="updateType">
        update discuss_post set type = #{type} where id = #{id}
    </update>

    <update id="updateStatus">
        update discuss_post set status = #{status} where id = #{id}
    </update>

    <update id="updateScore">
        update discuss_post set score = #{score} where id = #{id}
    </update>

    <!--    先排type 再排时间-->
    <select id="discussPostByUserId" resultType="com.tencent.community.domain.DiscussPost">
        select <include refid="selectFields"></include> from discuss_post where status != 2
            <if test="userid != 0">
                and user_id = #{userid}
            </if>
            <if test="orderMode==0">
                order by type desc, create_time desc
            </if>
            <if test="orderMode==1">
                order by type desc, score desc, create_time desc
            </if>
        limit #{row}, #{pageSize}
    </select>

    <select id="discussionPostAll" resultType="java.lang.Integer">
        select count(id) from discuss_post where status != 2
        <if test="userid != 0">
            user_id = #{userid}
        </if>
    </select>

    <select id="selectPostById" resultType="com.tencent.community.domain.DiscussPost">
        select <include refid="selectFields"></include> from discuss_post where id = #{id}
    </select>


</mapper>