<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.community.dao.TicketMapper">

    <sql id="selectTicketField">
        id, user_id, ticket, status, expired
    </sql>

    <sql id="insertTicketField">
        user_id, ticket, status, expired
    </sql>

<!--
        include标签进行引用sql片段
    -->
    <insert id="insertTicket" keyProperty="id">
        insert into login_ticket (<include refid="insertTicketField"></include>) values (#{userId}, #{ticket}, #{status}, #{expired})
    </insert>

    <update id="updateTicket">
        update login_ticket set status=#{status} where ticket=#{ticket}
    </update>


    <select id="selectTicket" resultType="com.tencent.community.domain.LoginTicket">
        select <include refid="selectTicketField"></include> from login_ticket where ticket=#{ticket}
    </select>
</mapper>